html
    head
        title Demo
    body
        h1 All items:

        ul
            each item in items
                li
                    a(href=item._id)= item.name

        form(method='POST', action='/')
            input(name='name' id='name')
            input(type='submit' value='add')

