html
    head
        title Demo
    body
        h1 TO DO LIST:

        ul
            each task in tasks
                li
                    span= task.name
                    form(method='POST', action='/')
                        input(name='id' type='hidden' value=task.id)
                        input(name='command' type='hidden' value='DELETE')
                        input(type='submit' value='x')

        form(method='POST', action='/')
            input(name='name' id='name')
            input(name='command' type='hidden' value='CREATE')
            input(type='submit' value='add')

