html
    head
        title Demo
    body
        h1 Remove:

        form(method='POST')
            input(name='count')
            input(name='_id' type='hidden' value=item._id)
            input(type='submit' value='Submit')
